﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS-->
    <link href="/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/Content/css/sb-admin.css" rel="stylesheet">
    @RenderSection("head", false)
</head>
<body class="fixed-nav sticky-footer bg-light" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
        <a class="navbar-brand" href="/Home/Index">Adres Defteri</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class=" -toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Yeni Kişi Ekle">
                    <a class="nav-link" href="/Person/PersonAdd">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">Yeni Kişi Ekle</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kişileri Listele">
                    <a class="nav-link" href="/Person/Index">
                        <i class="fa fa-fw fa-address-book"></i>
                        <span class="nav-link-text">Kişileri Listele</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kişileri Düzenle">
                    <a class="nav-link" href="/Person/PersonEdit">
                        <i class="fa fa-fw fa-user-md"></i>
                        <span class="nav-link-text">Kişileri Düzenle</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kullanıcıları Listele">
                    <a class="nav-link" href="/User/UsersList">
                        <i class="fa fa-fw fa-list"></i>
                        <span class="nav-link-text">Kullanıcıları Listele</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Çıkış
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Adres Defteri - @DateTime.Now.Year</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="/Content/#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <form action="/User/LoginCancel" method="post">
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Oturumu Kapat</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Oturumu Kapatmak İstediğinize Emin misiniz?</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary " type="button" data-dismiss="modal">İptal</button>
                           
                            <input class="btn btn-primary  " type="submit" value="Çıkış" />

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Bootstrap core JavaScript-->
        <script src="/Content/vendor/jquery/jquery.min.js"></script>
        <script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/Content/vendor/chart.js/Chart.min.js"></script>
        <script src="/Content/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/Content/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="/Content/js/sb-admin-datatables.min.js"></script>
        <script src="/Content/js/sb-admin-charts.min.js"></script>
        @RenderSection("scripts", false)
    </div>
</body>
</html>
