﻿
@{
    ViewBag.Title = "Kişi Ekle";
}

<div class="card card-register mx-auto mt-lg-0  ">
    <div class="card-header">Yeni Kişi Oluşturun</div>
    <div class="card-body">
        <form action="/Person/PersonAdd" method="post" role="form">
            <div class="form-group">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="userName">Ad Soyad</label>
                            <input name="Fullname" class="form-control" id="userName" type="text" aria-describedby="userNameHelp" placeholder="Ad Soyad Giriniz">
                        </div>
                        <div class="col-md-6">
                            <label for="identy">Kimlik No</label>
                            <input name="IdentificationNumber" class="form-control" id="identyNumbe" type="number" aria-describedby="identyHelp" placeholder="Kimlik No Giriniz">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">

                        <div class="col-md-6">
                            <label for="PhoneNumber">Telefon Numarası</label>
                            <input name="PhoneNumber" class="form-control" id="PhoneNumber" type="number" aria-describedby="phoneHelp" placeholder="Telefon Numarası Giriniz">
                        </div>
                        <div class="col-md-6">
                            <label for="birthDay">Doğum Tarihi</label>
                            <input name="BirthDay" class="form-control" id="addrbirthDayess" type="date" placeholder="01.07.1992">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="Email">Mail</label>
                            <input name="Email" class="form-control" id="Email" type="email" aria-describedby="emailHelp" placeholder="Mailinizi Giriniz">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="address">Adres</label>
                            <input name="Address" class="form-control" id="address" type="text" placeholder="Adresinizi Giriniz">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="companyName">Şirket Adı</label>
                            <input name="CompanyName" class="form-control" id="companyName" type="text" placeholder="Şirket Adı Giriniz">
                        </div>
                        <div class="col-md-6">
                            <label for="companyPhoneNumber">Şirket Telefonu</label>
                            <input name="CompanyPhoneNumber" class="form-control" id="companyPhoneNumber" type="number" placeholder="Şirket Telefonu Giriniz">
                        </div>
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-primary btn-block"> KAYDET</button>
            @if (@ViewBag.Error != null)
            {
                <label style="color:red">@ViewBag.Error</label>
            }

        </form>

    </div>
</div>

