﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Kayıt Ol</title>
    <!-- Bootstrap core CSS-->
    <link href="/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/Content/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Yeni Kayıt</div>
            <div class="card-body">
                <form action="/User/Register" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mail</label>
                        <input name="Email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Mail Adresinizi Giriniz">
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="Name">Adı</label>
                                <input name="Name" class="form-control" id="Name" type="text" aria-describedby="nameHelp" placeholder="Adını Giriniz">
                            </div>
                            <div class="col-md-6">
                                <label for="SurName">Soy Adı</label>
                                <input name="SurName" class="form-control" id="SurName" type="text" placeholder="Soy Adınızı Giriniz">
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputName">Kullanıcı Adı</label>
                                <input name="UserName" class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Kullanıcı Adını Giriniz">
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">Şifre</label>
                                <input name="Password" class="form-control" id="exampleInputPassword1" type="password" placeholder="Şifrenizi Giriniz">
                            </div>

                        </div>
                    </div>

                    <input class="btn btn-primary btn-block" type="submit" value="Kayıt Ol" />
                </form>
                <div class="text-center">

                    <a class="d-block small mt-3" href="/User/Login">Giriş Yap</a>
                    @if (ViewBag.ErrorMail != null)
                    {
                        <label style="color:red">@ViewBag.ErrorMail</label>
                    }

                    @*<a class="d-block small" href="forgot-password.html">Şifrenizi mi Unuttunuz?</a>*@
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/Content/vendor/jquery/jquery.min.js"></script>
    <script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
